includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 7

    checkModelProperties: true
    noEnvCallsOutsideOfConfig: true

    excludePaths:
        - app/Services/adminer_object.php

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder.*::allowedFilters\(\)#'
        - '#should return .* but returns .* \$this\(.*\)#'
